<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nunjucks</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        {% include "header.html" %}
        {% include "nav.html" %}
        <main>
            <h2>Contact Page</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic ipsa, esse ipsam tempore ad laboriosam
                suscipit dolore, expedita ducimus sapiente repellat perspiciatis laborum facere quisquam beatae. Culpa
                veniam aliquam debitis.</p>
        </main>
        {% include "footer.html" %}
    </div>
</body>

</html>